body {font-family: Arial;font: 25px Arial;}
p {padding-right: 1000px;}
header {text-align: center;}
section {margin: 10px;}
footer {text-align: center;margin-top: 20px;padding: 10px;background: #f0f0f0;}